.highlight {
  background: rgba(144, 202, 249, .3) !important;
  text-decoration: underline;
  cursor: pointer;

  position: relative
}

.highlight::after {
  /* position: absolute; */
  /* left: 50%; */
  position: fixed;
  left: 15px;
  bottom: 50%;
  opacity: 0;
  transition: all ease 0.3s;
}

.highlight::after {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  content: attr(data-evoke);
  background: rgba(34, 150, 243, .94);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
}

.highlight:hover::after {
  opacity: 1;
}