.highlight {
  background: rgba(144, 202, 249, .3) !important;
  text-decoration: underline;
  cursor: pointer;

  position: relative
}

.highlight::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  transition: all ease 0.3s;
}

.highlight::after {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  content: attr(data-evoke);
  background: rgba(34, 150, 243, .95);
  color: white;
  padding: 5px;
  border-radius: 10px;
  z-index: 100;
  width: 200px;
}

.highlight:hover::after {
  opacity: 1;
}